<div id="home" class="home">
    <div class="text">
        <h1>hi' </h1>
        <p>I'm Saivamshi Namala</p>
        <h2>Angular Enthusiast</h2>
        <div class="intern">
            <p>Summer Intern</p>
            <p>AT</p>
            <h1>Axiom IO</h1>
        </div>
        <br>
        <p>Undergrad Student at</p>
        <p>JNTUH College of Engineering Hyderabad.</p>
        <br><br>
        <a class="btn btn-aboutMe" (click)="toAboutMe()" routerLink = "about-me">About Me</a>
    </div>
    <div class="img">
        <!-- <img src="../../assets/Images/banner_image.svg" alt=""> -->
        <img src="../../assets/Images/banner_image_developer.svg" alt="">
    </div>
</div>